/*
CSS for mobile
https://varvy.com/mobile/legible-font-size.html
http://stackoverflow.com/questions/16387400/getting-the-right-font-size-on-every-mobile-device
http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/
http://www.leemunroe.com/designing-for-high-resolution-retina-displays/
https://css-tricks.com/snippets/css/retina-display-media-query/ ***
*/
/* 
    Created on : 06-Mar-2015, 20:31:20
    Author     : silas

*/

body{
    /*background-color: #000;*/    
    /*color:#fff;*/
    font-family: arial;
    font-size:16px;
    background-image: url("/images/css/background.jpg");
    background-size:cover;
}

.row{
    min-height:300px;
}
.row-small{
    min-height:150px;
}
.row-smaller{
    min-height:75px;
}
.row-tiny{
    height:25px;
}
.top-bar{
    height:50px;
    color:#fff;
}
.top-bar-title{
    font-size: 24pt;
    letter-spacing: 2vw; /* See http://stackoverflow.com/questions/24557411/css-letter-spacing-percent-to-completely-fit-the-div-container */
    margin-left: 15px;
    margin-right: -15px;
    margin-top: 7px
}
.border-bottom{
    border-bottom:3px solid #9933FF;
}
.border-top{
    border-top:3px solid red;    
}

/* breadcrumb */
#breadcrumb{
    height:auto;
}
#breadcrumb ul{
    margin:0px;
    padding:0px;
    border:none;
}
#breadcrumb ul>li{
    display:inline;
    list-style-type: circle;
    padding-left:10px;
}
#breadcrumb ul>li:first-of-type{
    padding-left:5px;
    font-weight:bold;
}
#breadcrumb ul>li>a{
    text-decoration: none;
    font-weight:normal;
    color:#fff;
    padding-right:10px;
}
#breadcrumb ul>li>a:hover{
    text-decoration: underline;
}
/* end breadcrumb */

/*  search */
.search{}
#search-btn{
    float:right;
    cursor:pointer;
    height:50px;
    width:50px;
    background-image: url("/images/icons/search.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
#search-btn-close{
    float:right;
    cursor:pointer;
    height:50px;
    width:50px;
    background-image: url("/images/icons/close.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
#search-btn-go{
    float:right;
    cursor:pointer;
    height:50px;
    width:50px;
    background-image: url("/images/icons/go.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.search-panel-form{
    border-top:3px solid red;
    border-bottom:3px solid red;
    /*padding-top:25px;*/
    background-color: #000;
}
#search-panel > div.pure-g.search-panel-form > div.pure-u-7-8 > input[type="text"]{
    border:none;
    margin-left:3px;
    margin-top:2px;
    padding-left:5px;
    width:100%;
    height:44px;
    font-size:24pt;
    color:#000;
}
#search-panel > div.pure-g.search-panel-top > div.pure-u-7-8{
    font-size: 24pt;
    letter-spacing: 2vw; /* See http://stackoverflow.com/questions/24557411/css-letter-spacing-percent-to-completely-fit-the-div-container */
    margin-left: 15px;
    margin-right: -15px;
    margin-top: 7px;
    
}
#search-panel > div.pure-g.search-panel-form > div.pure-u-7-8{
    background-color:#000;
}
#search-panel{
    height:100px;
    display:none;
    position:absolute;
    left:0px;
    top:0px;
    background-color:#000;
}
#search-results{
    display:none;
}
/* end search */

#header{
    border-top: 3px solid #9933FF;
    border-bottom: 3px solid #9933FF;
}
#header > div.banner-landing{
    background-image:url(/images/css/Haunted-House2.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
#footer{
    border-top: 3px solid #9933FF;
}
#footer > div > div > div.pure-u-7-8.footer{
    margin-left: 15px;
    margin-right: -15px;
    margin-top: 15px
}
.banner-landing{
    height:300px;
}

/* content colour schemes */
/*.scheme-black{
    background-color: #000;
    color:#fff;
}
.scheme-vlight{
    background-color: #ebe3f3;
    color:#000;
}
.scheme-light{
    background-color: #ecdaff;
    color:#fff;
    color:#000;
}
.scheme-mid{
    background-color: #c39dea;
    color:#fff;
}
.scheme-dark{
    background-color: #6922b1;
    color:#fff;
}
.scheme-vdark{
    background-color: #330165;
    color:#fff;
}*/

/* links */
.scheme-black a, .scheme-vdark a, .scheme-dark a, .scheme-mid a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.scheme-black a:hover, .scheme-vdark a:hover, .scheme-dark a:hover, .scheme-mid a:hover{
    text-decoration: underline;
}
.scheme-vlight a, .scheme-light a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.scheme-vlight a:hover, .scheme-light a:hover{
    text-decoration: underline;
}

/* end content colour schemes */

.breadcrumb>div>ul>li{
    display:inline;
}

/* content styles */
.panel-title{
    padding : 10px;
}
.panel-text{
    padding-left: 10px;
    padding-right: 10px;
}
.panel-title h2{
    margin-top: 0px;
    margin-bottom:0px;
    font-weight:normal;
}
.panel-full-width{
    width:100%;
    height:auto;
}
.panel-sub-menu{
    padding-left:0px;
}
.panel-sub-menu li{
    list-style-type: none;
}
.panel-sub-menu li:hover{
    text-decoration: underline;
}
/* home */


/* librivox */
/* these are JQuery-UI classes */
.ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
        height: 100px;
}

/* GCSE over rides: */
.gsc-above-wrapper-area{
    display:none;
}
.ui-widget-header{
    background: none;
    border:none;
}

/*
AJAX load spinner
from http://stackoverflow.com/questions/4888223/align-image-in-center-and-middle-within-div
*/
/* div */
#overlay{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align: center; /*handles the horizontal centering*/
}

/* span */
#vertical-centerer{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* image */
#centered{
    display: inline-block;
    vertical-align: middle;
}

/* librivox search form */
#autocomplete-data{
    width:80%;
    height:15px;
    padding-top:7px;
}

/* display panel min height */
#body-content .row{
    min-height:300px;
}

/* weddingfest gallery styling */
.image_display_trigger_wrapper{
    width:100%;
    height: 250px;
    overflow: auto;
}
/*  */
#image_display_trigger{
    display:inline;
    width:70%;
}


/* Wufoo overrides */
.wufoo li {
    width: 98%;
}

#container ul{
    padding-left:10px;
}

#container li{
    padding-left:5px;
    padding:0px;
}

.social_wrapper{
    padding: 10px;
    text-align: right;
}
.copyright{
    padding:15px;
    font-size: 8pt;
}
/* accomodate TinyMCE auto-insertion of P tags... */
.nomargin{
    margin:0px;
}