@charset "UTF-8";

div.tree-toggler{
	display: inline-block;
	cursor: pointer;
	margin-right: 3px;
}
div.spinner_wrapper{
	display: none;
	width: 15px;
	height: 15px;
}

div.raw div.spinner_wrapper{
	width: 15px;
    height: 15px;
/*     border: 1px solid red; */
    position: relative;
    display: inline-block;
    float: left;
}

div.raw #doomworld_api button, input, optgroup, select, textarea{
	color: black;
}

div.spinner_wrapper > img{
	width: 15px;
	height: 15px;
}
ul li{
	list-style-type: none;
}
div.raw ul.doombrowser li > div > i.fa-folder{
	color:#c1c100;
}
div.raw ul.doombrowser li.loaded > div > i.fa-folder{
	color:#ff282e;
}
div.raw div.panel-text table{
	width: 100%;
}
div.raw div.panel-text table tr > td, div.raw ul.doombrowser li, div.raw ul.doombrowser li > a{
	color: white;
}
 div.raw ul.doombrowser li > a{
 	font-style: italic;
 }
 div.raw ul.doombrowser li > div{
 	padding-right: 10px;
 }
ul.doombrowser li.loaded > div > i.fa-folder{
	color: green;
}
ul li{
	list-style-type: none;
}
div.closed{

}

ul.hidden{
	display: none;
}
i.fa-folder-open{
	color: blue;
}

#search_options_table th,
#search_options_table td{
	text-align: left;
	padding:5px;
}
#search_options_table th{
	padding-top: 0px;
	padding-bottom: 0px;
}
#search_options_table thead{
	border-bottom:1px solid #eee;
}