<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{CMS_CORE_TITLE}</title>
    <link rel="stylesheet" href="/styles/coven.css" type="text/css" />
    <script src="/script/editXX.js" type="text/javascript"></script>
    <script type="text/javascript" src="/script/lib.js"></script>
    <meta name="description" content="{CMS_CORE_DESCRIPTION}" />
    <meta name="keywords" content="{CMS_CORE_KEYWORDS}" />
    <meta name="author" content="{CMS_CORE_AUTHOR}" />
    <meta name="date"         content="{CMS_CORE_DATE}" />
    
  </head>
  
  <body class="background">
  
    <!-- render edit links when logged in -->
    {CMS_EDITLINKS}
    
    <!-- render main homepage nav links -->
    {CMS_COVEN_HOMENAV}
  
    <div class="homepagecontent">
      <!-- render first content associated with this page -->
      {CMS_CONTENT_1}
    </div>

  </body> 
</html>

