<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{CMS_CORE_TITLE}</title>
    <link rel="stylesheet" href="/styles/coven.css" type="text/css" />
    <script type="text/javascript" src="/script/lib.js"></script>
    <meta name="description"  content="{CMS_CORE_DESCRIPTION}" />
    <meta name="keywords"     content="{CMS_CORE_KEYWORDS}" />
    <meta name="author"       content="{CMS_CORE_AUTHOR}" />
    <meta name="date"         content="{CMS_CORE_DATE}">
    <script src="/script/lib.js" type="text/javascript"></script>
  </head>
  <body>
  
    <!-- render edit links if logged-in -->
    {CMS_EDITLINKS}

    <div class="contentlogo"></div>
    <div class="contentheader">
    
      <!-- render section title/image -->
      {CMS_COVEN_SECTIONIMAGE}
      
    </div>

    <!-- sub page content -->
    <div class="content">
    
        <!-- render section title -->
        <h1>{CMS_COVEN_SECTIONHEADING}</h1>
        <!-- end section title -->
        <h2>{CMS_CORE_LINKTEXT}</h2>
        
        <!-- render content text -->
        {CMS_CONTENT_1}
        <!-- end content text -->
        
        <!-- dynamic news output -->
        {CMS_NEWS_OUTPUT}
        <!-- end dynamic news output -->
        
        
    </div>
    
    <!-- link to homepage -->
    <div class="homelink">
        <a href="/" title="Back to homepage">
            <img src="/images/structure/transpacer.gif" width="150" height="30" alt="spacer" />
        </a>
    </div>
    
    <!-- LH nav -->
    <div class='contentnav'>
      
      <!-- render left-hand nav -->
      {CMS_COVEN_LHNAV}
      
      <div class='footer2'>&copy;TheCoven&nbsp;2009<br />
        <span>Webmaster@thecoven.co.uk</span>
      </div>
    </div>
    
    <!-- RH nav -->
    <div class="contentsubnav">
    
    <!-- render right-hand nav -->
    {CMS_COVEN_RHNAV}
    
    </div>
  </body>
</html>


