<html>
<head>
  <meta name="description" value="{CMS_CORE_DESCRIPTION}" />
  <meta name="keywords" value="{CMS_CORE_KEYWORDS}" />
  <title>{CMS_CORE_TITLE}</title>
</head>

<body bgcolor="#ccff00">

<table border="1">
  <tr>
    <td width="200">{CMS_CUSTOM_HOMELINK}</td>
    <td>banner</td>
    <td></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">{CMS_CUSTOM_TOPNAV}</td>
  </tr>
  <tr>
    <td>
    {CMS_CUSTOM_HOMELINK}
    {CMS_CUSTOM_LHNAV}</td>
    <td>{CMS_CONTENT_1}</td>
    <td>STATIC</td>
  </tr>
</table>
</body>
</html>
