<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="CoreSlots" type="CCMS.CustomConfiguration,CCMS" />
		<!-- section name="ContentSlots" type="CCMS.CustomConfiguration,CCMS" />
    <section name="CustomSlots" type="CCMS.CustomConfiguration,CCMS" / -->
	</configSections>
	<CoreSlots>
		<add value="CCMS_TITLE" />
		<add value="CCMS_KEYWORDS" />
		<add value="CCMS_DESCRIPTION" />
		<add value="CCMS_AUTHOR" />
	</CoreSlots>
	<!-- ContentSlots>
    <add value="CCMS_CONTENT1" />
    <add value="CCMS_CONTENT2" />
    <add value="CCMS_CONTENT3" />
    <add value="CCMS_CONTENT4" />
    <add value="CCMS_CONTENT5" />
    <add value="CCMS_CONTENT6" />
  </ContentSlots -->
	<appSettings>
		<!-- News display page ID -->
		<add key="newsPageID" value="12" />
		<!-- database connection params -->
		<add key="dbdriver" value="{SQL Server}" />
		<add key="dbserver" value="ccmsdev" />
		<add key="dbname" value="ccms" />
		<add key="dbuser" value="sa" />
		<add key="dbpassword" value="livelink" />
    <!-- add key="TemplateBasePath" value="F:\Dev\ccms.manual.test\ccms.templates\" / -->
    <add key="TemplateBaseRelativePath" value="\ccms.templates\" />
		<add key="EditorRoot" value="http://localhost:81/ccms.editor/" />
		<!-- -->
		<add key="DeploymentType" value="local" />
		<!-- logging (log4CCMS) -->
		<add key="logging" value="on" />
		<add key="loglevel" value="trace" />
		<!-- cache settings -->
		<add key="usecache" value="true" />
		<add key="cachetimeout" value="10" />
	</appSettings>
	<system.web>
    <customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0">
		</compilation>

		<authentication mode="Windows" />

		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>

  <!-- http://www.codeproject.com/Articles/571813/A-Beginners-Tutorial-on-Creating-WCF-REST-Services -->
  <system.serviceModel>
    <!-- serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" / -->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="ccms.Service1">
        <endpoint address="" behaviorConfiguration="" binding="webHttpBinding" contract="ccms.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://ccmsdev.local.net/Service1" />
          </baseAddresses>
        </host>
      </service>
      <service name="ccms.LoginService">
        <endpoint address="" behaviorConfiguration="" binding="webHttpBinding" contract="ccms.ILoginService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://ccmsdev.local.net/LoginService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
