<?xml version="1.0"?>
<configuration>

    <!-- 
    https://librivox.org/api/feed/audiobooks
    https://librivox.org/api/feed/audiotracks
    https://librivox.org/api/feed/authors
    
    see:
    https://librivox.org/api/info
    -->
  <appSettings>
    <add key="BaseUrl" value="https://librivox.org/"/>
    <add key="CCMSBaseUrl" value="http://www.thecoven.co.uk/ccms.aspx"/>

    <add key="FormatString" value="json"/>
    <!-- add key="UrlParam1" value="postId"/ -->

    <add key="ImageBaseUrl" value=""/>
  </appSettings>

  <system.web>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
