body
{
  font-family: arial;
  background-color:#ccc;
}

.bodytable
{
  width:100%;
  padding:3px;
  
}

.col
{
  width:20%;
  vertical-align:top;
}

.content_cell
{
  vertical-align:top;

}

.box
{
  background-color:#fff;
  border: 1px solid black;
  margin:3px;
  width:100%;
}

.boxheading
{
  font-weight:bold;
  color:#fff;
  background-color:#000;
  text-align:center;
  padding:2px;
}

.boxcontent
{
  width:100%;
  padding:2px;
  font-size:80%;
}
