#editbanner{font-family:arial,sans-serif;font-size:8pt; background-color:#dddddd;padding:5px;border:1px dashed black;z-index:1000;}
#editbanner p{margin-top:0px;margin-bottom:2px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.editoption a{text-decoration:none;}
.editoption a:hover{text-decoration:underline;}
#contentlist ul{padding-left:0px;}
#contentlist li{list-style-type:none;}
#containerXXXXX{}
.active{background-image:url("/ccms_asp/editor/images/active-small.gif");background-repeat:no-repeat;padding-left:18px;}
.pending{background-image:url("/ccms_asp/editor/images/pending-small.gif");background-repeat:no-repeat;padding-left:18px;}
.atwork{background-image:url("/ccms_asp/editor/images/atwork-small.gif");background-repeat:no-repeat;padding-left:18px;}
.rejected{background-image:url("/ccms_asp/editor/images/rejected-small.gif");background-repeat:no-repeat;padding-left:18px;}
form.editdropdown{font-family:arial,sans-serif;font-size:8pt; }
textarea.editor{width:350px;}

/* LOGIN FORM */
#loginform{margin-left:auto;margin-right:auto;width:300px;padding:30px;margin-top:50px;margin-bottom:50px;border:1px solid black;}
#loginform h1{margin-top:0px;font-size:1.4em;}
#loginform .error{color:red;}

/* EDITOR POPUP - COMMON */
#container{
    font-family:arial,sans-serif;
    font-size:10pt;
    padding:5px;
    height:625px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;
}
#editor-frame td{
    vertical-align:top;
}
#editor-frame > tbody > tr > td:nth-child(1){
/*#editor-frame td:first-child{*/
    width:200px;
    border:1px solid lightgray;
}
#editor_content{width:100%;padding:0px;margin:0px;}
#editor_content h1{
    padding-top:10px;
    padding-bottom:10px;
/*    margin-top:0px;*/
    font-size:1.4em;
    text-align:center;
    border: 1px solid darkgray;
    background-color: lightgray;
}
#editor_content h2{padding:5px;margin-top:10px;font-size:1.2em;}

/* TinyMCE editor window height */
#content_ifr{
    height:470px;
}
tr.header{background-color:#aaa;}
tr.odd{background-color:#eee;}
tr.even{background-color:#ddd;}
td.header{padding:5px;font-weight:bold;}
td{padding-left:5px;padding-right:5px;}

/*
Create new page
*/
#create_page_form{
    
}

/*
Updates Aug 2016
*/
/*
edit dialogues, table outputs. JQ DataTables are applied, and these post-style a bit:
*/
#list-content{
    border:1px solid darkgray;
}
#list-content > thead,#list-content > tfoot{
    background-color:lightgray;
    border:1px solid black;
}
#list-content > tbody > tr{
    border-bottom: 1px dashed darkgrey;
}